@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    overflow-x: hidden;
}

:root {
    --tw-gradient-from: currentColor;
    --tw-gradient-to: hsl(192, 70%, 51%)    ;
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

svg {
    color: white
}